{% extends 'AppBundle:Blog:base.html.twig' %}

{% block blogContent %}

    <nav class="hidden-print breadcrumb">
        {% set menu = knp_menu_get('dlouhyBlogBundle:BreadcrumbMenu:create', [], {'entity': post is defined ? post : ''}) %}
        {{ knp_menu_render(menu, {'template': 'dlouhyBlogBundle:Menu:knp_menu_breadcrumb.html.twig'}) }}
    </nav>

    <div id="blog-list" class="pad-section">
        <div id="blog-result" class="col-xs-12 col-sm-8">
            {% block leftColumn %}{% endblock %}
        </div>

        <div id="blog-menu" class="col-xs-12 col-sm-4">
            {% block rightColumn %}

                <aside class="blog-search">
                    <form action="{{ path('blog_search') }}" method="GET">
                        <div class="input-group">
                            <input name="s" type="text" class="form-control" placeholder="Hledat...">
                            <span class="input-group-btn">
								<button class="btn btn-orange" type="submit">Hledat</button>
							</span>
                        </div><!-- /input-group -->
                    </form>
                </aside>

                <aside class="blog-recent-posts">
                    <h4>Poslední příspěvky</h4>
                    <ul>
                        {% for recentPost in recentPosts %}
                            <li><a href="{{ path('blog_view', {'slug': recentPost.slug}) }}"
                                   title="{{ recentPost.title }}">{{ recentPost.title }}</a></li>
                        {% endfor %}
                    </ul>
                </aside>

                <aside class="blog-categories">
                    <h4>Kategorie</h4>
                    <ul>
                        {% for category in categories %}
                            <li><a href="{{ path('blog_category', {'slug': category.slug}) }}"
                                   title="{{ category.name }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </aside>

                <aside class="blog-tags">
                    <h4>Tagcloud</h4>
                    <div id="tagcloud">
                        {% for tag in tags %}
                            <a href="{{ path('blog_tag', {'slug': tag.slug}) }}"
                               rel="{{ tag.tagCount }}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </aside>

            {% endblock %}
        </div>
    </div>
    {# total items count #}{# pagination.getTotalItemCount #}

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    {% javascripts
    '@dlouhyBlogBundle/Resources/public/js/jquery.tagcloud.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tagcloud a").tagcloud({
                size: {start: 13, end: 24, unit: "px"},
                color: {start: '#999', end: '#333'}
            });
        });
    </script>

{% endblock %}