{% extends 'dlouhyBlogBundle:Blog:base.html.twig' %}

{% block title %}Blog - {{ project.name }}{% endblock %}

{% block leftColumn %}


	{% if noResults %}
		<div class="alert alert-info">
			Sorry, no results found.
		</div>
	{% endif %}

	{% for post in pagination %}

		<div class="blog-post" itemscope itemtype="http://schema.org/Article">

			<h2 itemprop="name">{{ post.title }}</h2>

			<div class="blog-info">
				{% spaceless %}
					<span class="blog-date" itemprop="datePublished" content="{{ post.publishedAt|date('Y-m-d') }}">
						<i class="fa fa-calendar"></i> {{ post.publishedAt|date('d.m.Y') }}
					</span>
					{% for category in post.categories %}
						<a class="blog-category" itemprop="postSection" href="{{ path('blog_category', {'slug': category.slug}) }}">{{ category.name }}</a>
					{% endfor %}
				{% endspaceless %}

				{% if post.imageGallery and post.imageGallery.homeImage %}
					{% set img = post.imageGallery.homeImage.getWebPath('lg') %}
					<a href="{{ path('blog_view', {'slug': post.slug}) }}" title="{{ post.title  }}" itemprop="url">
						<img class="img-responsive blog-img" alt="{{ post.title  }}" src="{{ img }}" itemprop="image" />
					</a>
				{% else %}
					{#{% image '@dlouhyBlogBundle/Resources/public/img/blog/post-no-image.png' %}#}
					{#{% set img = asset_url %}#}
					{#{% endimage %}										#}
				{% endif %}										


			</div>

			<p class="blog-summary">{{ post.summary }}</p>

        {% if post.text|striptags %}
			<a class="btn btn-primary" itemprop="url" href="{{ path('blog_view', {'slug': post.slug}) }}">Číst dále</a>
		{% endif %}

		</div>
		<div class="clearfix"></div>
	{% endfor %}	

	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>	
{% endblock %}