<meta name="keywords" content="{{ post.metaKeywords }}"/>
<meta name="description" content="{{ post.metaDescription }}"/>
<meta name="robots" content="noodp"/>
<link rel="canonical" href="{{ app.request.uri }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:description" content="{{ post.metaDescription }}" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:site_name" content="{{ post.title }} - RehabsFinder" />
<meta property="article:publisher" content="https://www.facebook.com/RehabsFinder/" />
{% for category in post.categories %}<meta property="article:section" content="{{ category.name }}" />{% endfor %}
{% for tag in post.tags %}<meta property="article:tag" content="{{ tag.name }}" />{% endfor %}
<meta property="article:published_time" content="{{ post.publishedAt|date('c') }}" />
<meta property="article:modified_time" content="{{ post.modified is not null ? post.modified|date('c') :  post.publishedAt|date('c') }}" />
<meta property="og:updated_time" content="{{ post.modified is not null ? post.modified|date('c') :  post.publishedAt|date('c') }}" />
<meta property="og:image" content="{{ post.imageGallery is not empty and post.imageGallery.homeImage is not empty ? app.request.getSchemeAndHttpHost() ~ post.imageGallery.homeImage.getWebPath('') : ''}}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{{ post.metaDescription }}" />
<meta name="twitter:title" content="{{ post.title }} - RehabsFinder" />
<meta name="twitter:image" content="{{ post.imageGallery is not empty and post.imageGallery.homeImage is not empty ? app.request.getSchemeAndHttpHost() ~ post.imageGallery.homeImage.getWebPath('') : ''}}" />