{% extends 'dlouhyBlogBundle:Blog:base.html.twig' %}

{% block title %}{{ post.title }} - {{ project.name }}{% endblock %}

{% block metatags %}{{ include('dlouhyBlogBundle:Blog:post_metatags.html.twig') }}{% endblock %}

{% block leftColumn %}

	<div class="blog-post" itemscope itemtype="http://schema.org/Article">

		<h1 itemprop="name">{{ post.title }}</h1>

		<div class="blog-info">
			{% spaceless %}
			{% endspaceless %}

			{% if post.imageGallery and post.imageGallery.homeImage %}
				{% set img = post.imageGallery.homeImage.getWebPath('lg') %}
				<img class="blog-img img-responsive" alt="{{ post.title  }}" src="{{ img }}" itemprop="image" />				
			{% endif %}

			{% spaceless %}
				<span class="blog-date-detail" itemprop="datePublished" content="{{ post.publishedAt|date('Y-m-d') }}">
					<i class="fa fa-calendar"></i> {{ post.publishedAt|date('d.m.Y') }}
				</span>
				{% for category in post.categories %}
					<a class="blog-category-detail" itemprop="postSection" href="{{ path('blog_category', {'slug': category.slug}) }}">{{ category.name }}</a>
				{% endfor %}				
				{% for tag in post.tags %}
					<a class="blog-tag" href="{{ path('blog_tag', {'slug': tag.slug}) }}">{{ tag.name }}</a>
				{% endfor %}
			{% endspaceless %}			
			<div class="clearfix"></div>								

		</div>		

		<div class="blog-content">
			{% if post.text|striptags %}
				{{ post.text|raw }}
			{% else %}
				<p class="blog-summary">{{ post.summary}}</p>
			{% endif %}
		</div>

		{% if post.imageGallery and post.imageGallery.getGallery  %}
			<div class="blog-gallery">
				{% for img2 in post.imageGallery.getGallery %}
					<img class="blog-img img-responsive" alt="{{ img2.description  }}" src="{{ img2.getWebPath('lg') }}" itemprop="image" />
					<p class="text-muted text-center">{{ img2.description  }}</p>
				{% endfor %}
			</div>
		{% endif %}			

	</div>

{% endblock %}