@import "%kernel.root_dir%/../web/bundles/app/less/variables.less";

#blog-result {
  padding-left: 0px;
}

#blog-list {
  .blog-post {
    border-bottom: 1px @gray-light dashed;
  }
}

.blog-post {

  margin-bottom: 20px;
  padding-bottom: 20px;

  .blog-info {
    line-height: 42px;

    .blog-date {
      background-color: @blog-black;
      color: @blog-white;
      display: inline-block;
      margin-right: 1px;
      margin-top: 1px;
      padding: 0 7px;
    }

    a.blog-category {
      background-color: @blog-category-color;
      display: inline-block;
      color: @blog-white;
      margin-right: 1px;
      margin-top: 1px;
      padding: 0 7px;
    }

    .blog-img {
      width: 100%;
    }

    .blog-date-detail {
      background-color: @blog-black;
      color: @blog-white;
      display: inline-block;
      margin-right: 1px;
      margin-bottom: 1px;
      padding: 0 7px;
    }

    a.blog-category-detail {
      background-color: @blog-category-color;
      display: inline-block;
      color: @blog-white;
      margin-right: 1px;
      margin-bottom: 1px;
      padding: 0 7px;
    }

    a.blog-tag {
      background-color: @blog-tag-color;
      display: inline-block;
      color: @blog-white;
      margin-right: 1px;
      margin-bottom: 1px;
      padding: 0 7px;
    }
  }

  .blog-gallery {
    img.blog-img {
      width: 100%;
      margin-top: 15px;
    }
    p {
      margin-top: 5px;
    }
  }

  .blog-summary {
    margin: 20px 0;
  }

  .blog-content {
    margin: 20px 0;

    a {
      text-decoration: underline;
      font-weight: bold;
    }

  }
}

#blog-menu {

  h4 {
    background-color: @blog-black;
    color: @blog-white;
    padding: 7px 5px;
    border: 1px @blog-black solid;
    border-radius: @border-radius-base;
  }

  aside {
    margin-bottom: 40px;
    margin-left: 12px;
  }

  .blog-categories, .blog-recent-posts {
    ul {
      list-style: none;
      padding: 0 6px;

      li {
        padding: 1px 0;
        a {
          font-size: 90%;
        }
        a:hover {
          color: @blog-category-hover-color
        }
      }
    }
  }

}

