{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:add.html.twig' %}

{% block header %}Vytvořit článek{% endblock %}
{% block title %}Vytvořit článek{% endblock %}
{% block bdCurrent %}Vytvořit článek{% endblock %}
{% block bdParent %}<li><a href="{{ path('admin_post_list') }}">Blog</a></li>{% endblock %}

{% block form %}
    {% form_theme form 'dlouhyAdminTemplateBundle:Form:bootstrap.html.twig' %}
    {{ form_start(form, {'attr': {'class': 'ajax-form'} }) }}
    {{ include('dlouhyBlogBundle:Post:form_content.html.twig', { 'form': form, 'tags': tags}) }}
    {{ form_end(form) }}
{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@dlouhyBlogBundle/Resources/public/css/bootstrap-tagsinput-customized.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}	


{% block javascripts %}

    {{ parent() }}
    {{ elfinder_tinymce_init4('default') }}
    {{ tinymce_init({'theme': {'simple': {'menubar': false}}}) }}

    <script type="text/javascript">
        function callback_tinymce_init(editor) {
            editor.settings.entity_encoding = 'raw';
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#post_title').keyup(function () {
                $('#post_slug').val(utils.convertToSlug($(this).val()));
            });


            $('#post_tags').tagsinput({
                confirmKeys: [13, 188]
            });

            $('.bootstrap-tagsinput input').on('keypress', function (e) {
                if (e.keyCode == 13) {
                    e.keyCode = 188;
                    e.preventDefault();
                }
                ;
            });

            $('.add-tag').on('click', function () {
                $('#post_tags').tagsinput('add', this.value);
                return false;
            });

        });
    </script>

    {% javascripts '@dlouhyBlogBundle/Resources/public/js/bootstrap-tagsinput.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock javascripts %}