<div class="form-content">
	{{ form_row(form.title) }}	
	{{ form_row(form.publishedAt) }}
	{{ form_row(form.summary) }}
	{{ form_row(form.text) }}
	{{ form_row(form.active) }}
	<hr />
	{{ form_row(form.tags) }}
	<div class="bottom15">
		<p class="text-muted">List of existing tags:</p>
	{% for tag in tags %}
		<button class="btn btn-xs btn-success add-tag" value="{{ tag.name }}" >{{ tag.name }}</button>
	{% endfor %}
	</div>
	<hr />
	{{ form_row(form.categories) }}
	<hr />
	{{ form_row(form.author) }}
	<hr />
	{{ form_row(form.slug) }}
	{{ form_row(form.metaKeywords) }}
	{{ form_row(form.metaDescription) }}	
	{{ form_row(form.save) }}
</div>

{% if includeJs is defined and includeJs %}
<script type="text/javascript">
	$(document).ready(function () {
		$('.add-tag').click(function() {
			$('#post_tags').tagsinput('add', this.value);
			return false;
		});
	});
</script>	
{% endif %}