{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:list.html.twig' %}
{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}

{% block header %}Blog{% endblock %}
{% block title %}Blog{% endblock %}
{% block bdCurrent %}Blog{% endblock %}

{% block table %}
    {{ include('dlouhyBlogBundle:Post:table.html.twig') }}
{% endblock %}