{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:table.html.twig' %}
{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}


{% block columns %}
	{% spaceless %}
		{"title": "Titulek", 'class': 'col-xs-6 col-main'},
		{"title": "Autor", 'class': 'col-xs-2'},
		{"title": "Publikace", 'class': 'col-xs-2'},
		{"title": "Aktivní", 'class': 'col-xs-1'},
		{"title": "ID", 'class': 'col-xs-1'}
	{% endspaceless %}
{% endblock %}

{% block dataset %}	
	{% spaceless %}
		{% for record in records %}
			[
			'{{ record.title }}{{macros.toolbar(record.id, 'admin_post_view', 'admin_post_edit', 'admin_post_delete')}}',
			'{{ record.author != null ? record.author.name : '-' }}',
			'{{ record.publishedAt|date('Y-m-d H:i')|e('js') }}',
			'{{ macros.btn_bool(record.active, record.id, 'admin_post_switch_active') }}',
			'{{ record.id }}'
			],
		{% endfor %}
	{% endspaceless %}
{% endblock %}