{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:view.html.twig' %}

{% block header %}{{ post.title }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block bdCurrent %}{{ post.title }}{% endblock %}
{% block bdParent %}<li><a href="{{ path('admin_post_list') }}">Blog</a></li>{% endblock %}

{% block view %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Článek <a href="{{ path('admin_post_edit', {'id': post.id}) }}" class="btn btn-xs btn-warning pull-right">Edit</a></h2>
		</div>

		<div class="panel-body">
			<div class="col-xs-12 bottom15">
				<table class="table profile">
					<tbody>
						<tr>
							<th>Title:</th>
							<td><strong>{{ post.title }}</strong></td>						
						</tr>	
						<tr>
							<th>Published At:</th>
							<td>{{ post.publishedAt|date('Y-m-d H:i') }}</td>						
						</tr>	
						<tr>
							<th>Summary:</th>
							<td>{{ post.summary }}</td>						
						</tr>	
						<tr>
							<th>Active:</th>
							<td>{{ post.active|bool }}</td>						
						</tr>
						<tr>
							<th>Tags:</th>
							<td>{{ post.tags|join(', ') }}</td>						
						</tr>
						<tr>
							<th>Categories:</th>
							<td>{{ post.categories|join(', ') }}</td>						
						</tr>						
						<tr>
							<th>Author:</th>
							<td>{{ post.author.name }}</td>						
						</tr>						
						<tr>
							<th>Meta keywords:</th>
							<td>{{ post.metaKeywords}}</td>						
						</tr>						
						<tr>
							<th>Meta description:</th>
							<td>{{ post.metaDescription }}</td>						
						</tr>						
						<tr>
							<th>Last edit:</th>
							<td>{{ post.modified|date('Y-m-d H:i:s') }}</td>						
						</tr>						
					</tbody>
				</table>	
			</div>																
		</div>
	</div>
						
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Obsah <a href="{{ path('admin_post_edit', {'id': post.id}) }}" class="btn btn-xs btn-warning pull-right">Edit</a></h2>
		</div>	
						
		<div class="panel-body">	
			<div class="col-xs-12">
				{{ post.text|raw }}
			</div>
		</div>
	</div>
						
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Galerie <a href="{{ path('admin_post_image_gallery', {'id': post.id}) }}" class="btn btn-xs btn-warning pull-right">Edit</a></h2>
		</div>	
						
		<div class="panel-body">	
			<div class="col-xs-12">
		{% if post.imageGallery and post.imageGallery.images %}
			<div class="blog-gallery">
				{% for img2 in post.imageGallery.images %}
					<img class="blog-img img-responsive" alt="{{ img2.description  }}" src="{{ img2.getWebPath('') }}" itemprop="image" />				
					<p class="text-muted text-center">{{ img2.description  }}</p>
				{% endfor %}
			</div>
		{% endif %}
			</div>
		</div>
	</div>
	

{% endblock %}
