{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:add.html.twig' %}

{% block header %}Vytvořit kategorii{% endblock %}
{% block title %}Vytvořit kategorii{% endblock %}
{% block bdCurrent %}Vytvořit kategorii{% endblock %}
{% block bdParent %}<li><a href="{{ path('admin_post_category_list') }}">Kategorie</a></li>{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#category_name').on('keyup', function () {
                $('#category_slug').val(utils.convertToSlug($(this).val()));
            });
        });
    </script>
{% endblock javascripts %}