<div class="form-content">
	{{ form_widget(form) }}
</div>

{% if includeJs is defined and includeJs %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('#category_name').on('keyup', function () {
				$('#category_slug').val(utils.convertToSlug($(this).val()));
			});
		});
	</script>	
{% endif %}