{% embed 'dlouhySimpleCRUDBundle:BaseCRUD:form.html.twig' %}
{% endembed %}

{% block includeJs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#category_name').on('keyup', function () {
                $('#category_slug').val(utils.convertToSlug($(this).val()));
            });
        });
    </script>
{% endblock %}