{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:list.html.twig' %}
{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}

{% block header %}Kategorie{% endblock %}
{% block title %}Kategorie{% endblock %}
{% block bdCurrent %}Kategorie{% endblock %}

{% block table %}
    {{ include('dlouhyBlogBundle:Category:table.html.twig') }}
{% endblock %}