{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:table.html.twig' %}
{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}


{% block columns %}
	{% spaceless %}
		{"title": "Title", 'class': 'col-xs-11 col-main'},
		{"title": "ID", 'class': 'col-xs-1'}
	{% endspaceless %}
{% endblock %}

{% block dataset %}	
	{% spaceless %}
		{% for record in records %}
			[
			'{{ record.name }}{{macros.toolbar(record.id, '', 'admin_post_category_edit', 'admin_post_category_delete')}}',
			'{{ record.id }}'
			],
		{% endfor %}
	{% endspaceless %}
{% endblock %}